.suggestions {
    background-color: #1e90ff;
    border-radius:10px;
    margin: 10px;
    font-family: cursive, sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
    border-style: dashed;
}
.home {
    width: 60%;
    left: 20%;
    position: relative;
    padding: 10px;

}
.operation {
    margin: 10px;
    font-family: cursive, sans-serif;
}
.link{
    color: #191970;
    font-size: 16px;
}
.link:hover {
    text-decoration: none;
}
#add {
    margin: 5px;
    border-radius: 5px;
    background-color:#B0E0E6;
    border:none;
}

#add:hover {
    background-color: #0000cd;
}

#remove {
    border-radius:5px;
    background-color: #B0E0E6;
    border:none;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
}
#remove:hover {
    background-color: #ff0000;
}

#suggestion_title {
    font-size: 20px;
}
#suggestion_comment {
    border-color: #333;

}

#title {
    margin: 10px;
    font-family: cursive, sans-serif;
    text-align: center;
    font-size: 50px;
}

#bulb {
    width: 11%;
    padding: 10px;
}

#Comments_title {
    color:;
}